*{
    padding: 0;
    margin: 0;
    /* background-color: #000; */
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.main-feedback-cont{
background: #4effaf38;
}
body{
    background: rgb(33 37 41);
    }
.feedback-cont form label{
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont form button{
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid rgba(0, 0, 0, 0.206);
    color: white;
    background: linear-gradient(to right,#0000ff40, rgb(241 56 229 / 27%));
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont form input{
    
    background: rgba(0, 0, 0, 0.083);
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont form textarea{
    
    background: rgba(0, 0, 0, 0.083);
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont form input:focus{
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.083);
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont form textarea:focus{
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.083);
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.feedback-cont{
    
    background: white;
}
@media screen and (max-width: 650px) {
    .main-feedback-cont{
        padding-top: 4rem;
        padding-bottom: 4rem;
        }
  }